@import "../../../../node_modules/bootstrap/scss/variables";

button.TextButton {
    display: inline-block;
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 1px;
    margin: auto 0  auto 0;
    line-height: 1;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;

  &.TextButton-primary {
    color: $primary;
    border-bottom: 2px solid $secondary;
    background: linear-gradient($primary, $primary 100%) bottom no-repeat;
    background-size: 100% 0;
    transition: background-size 0.1s;

    &:hover {
      background-size: 100% 100%;
      text-decoration: none;
      color: $light;
    }
  }
  &.TextButton-light {
    color: $light;
    border-bottom: 2px solid $light;
    background: linear-gradient($light, $light 100%) bottom no-repeat;
    background-size: 100% 0;
    transition: background-size 0.1s;

    &:hover {
      border-bottom: 2px solid $secondary;
      background-size: 100% 100%;
      text-decoration: none;
      color: $primary;
    }
  }
}



